@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "tailwindcss";

@theme {
  /* Dark background color */
  --color-darkest: #111827;
  --color-medium-dark: #1f2937;
  --color-light-dark: #374151;

  /* text colors */
  --color-text-l-gray: #d1d5db;
  --color-text-m-gray: #9ca3af;
  --color-text-d-gray: #6b7280;
  --font-outfit : "Roboto";

  /* blue colors */
  
  --color-blue-btn: #00A9E0;

}

@layer components {
  .btn-primary{
    @apply flex cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-8 bg-blue-btn hover:bg-[#00a8e0c1] text-white text-base font-bold leading-normal tracking-[0.015em] transition-colors
  }
}
